* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.rectangle
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    padding: 60px;
    position: relative;
    margin-top: 80px;
}
.myname
{
    
    font-size: 80px;
    
    opacity: 80%;
    
    
}
.prof
{
font-size: 40px;
font-family: fantasy;
opacity:50% ;
}
.image
{
    object-position: 50%;
    
    margin-top: 50px;
    
 
}
.img
{
    height: 200px;
    width: 200px;
    border-radius: 180px;
    border: #BBAB8C 5px solid;
    position: absolute;
    top: 140px;
    left: 1100px;

  
    object-fit: cover;
}
.contactsdetails
{
    font-size: 20px;
    font-style: normal;
    padding: 50px;
    padding-left: 50px;
    border-bottom: 5px gray solid;
    
}
.contact{
    padding: 10px;
    display: flex;
    gap: 10px;
    
}
.skills
{
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 20px;
padding-left: 60px;
padding-bottom: 25px;}
.myskill
{
   padding-left: 70px;
   padding-top: 10px;
    font-size: 25px;
    
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.left__container
{
    border-right:5px gray solid;
    width: 50%;
    
}
.container{
    display: flex;
    margin-top: 100px;

}
.ed{

    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-top: 30px;
}
.sec
{
    padding-left: 70px;
    padding-top: 10px;
    
}
.col{
    font-size: 25px;
    margin-top: 20px; 
}
.mar
{
    padding-left: 40px;
    font: size 25px;;
}
.cont
{
   padding-bottom: 50px; 
border-bottom: 5px gray solid;
}
.sc{
    padding-top: 20px;
}
.pro
{
  padding-left: 60px;
  margin-top: 64px;
  margin-bottom: 50px;
}
.contpro
{
    padding-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.containerpro
{
    padding-bottom: 50px; 
border-bottom: 5px gray solid;
}
.exp
{
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 40px;
}
.head
{
    margin-left: 60px;
    margin-bottom: 15px;
}
.detail
{
    margin-left: 60px;
    font-size: 20px;
    
}
.feed
{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 2opx;
}
.web
{
    margin-top: 50px;
}
.ana
{
    margin-top: 50px;
}




